*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: var(--color-select);
    color: var(--color-light-grey);
}

:root {
    --section-padding-t: 60px;
    --section-padding-b: 60px;
    --body-color: #202020;
    /* <-------------------genaral-color-------------> */
    --color-main: #ce1212;
    --color-secondary: #212529;
    --color-tertiary: #373737;
    --p-color: #4f4f5a;
    --color-light-grey: #eee;
    --color-gray: #7d7d7d;
    /* <-----------------nav-section-color------------> */
    --color-bg-dark: #ffffff;
    --translate:100%;
    --translate-close:0px;
    /* <-----------------header-section-color------------> */
    --hover-bg-color: #e61414;
    /* <-----------------Contact-section-color------------> */
    --info-s-bg-color: #F5f5f5;
    /* <----------------contact-section-color------------> */
    --form-bg-color: #ffffff;
    /* <----------------selection-color------------> */
    --color-select: #d85454;
    /* --------------------FontType-------------------- */
    --font-default: 'Open Sans', sans-serif;
    --main-font: 'Amatic SC', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    /* --------------------FontType-------------------- */
    --animation-duration: 400ms;
}

body {
    font-family: var(--font-default);
    color: var(--color-default);
    position: relative;
}

/* Start Genaral */
.container {
    width: 95%;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* -------------Title for each section----------- */
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.heading p {
    font-family: var(--font-secondary);
    color: var(--color-gray);
}

.heading h2 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 50px;
    color: var(--color-default);
}

.heading span {
    color: var(--color-main);
}

/* End Genaral */

/* Start Nav */
.navbar {
    background-color: var(--color-bg-dark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar .container {
    padding: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ----------------logo---------------- */
.navbar .logo a {
    font-family: var(--font-default);
    font-size: 30px;
    font-weight: 700;
    color: var(--color-secondary)
}

.navbar .logo h1::after {
    content: ".";
    color: var(--color-main);
}

/* ----------------Nav-Menu---------------- */
.navbar .nav-menu {
    font-size: 1.0625rem;
    font-weight: 600;
    color: var(--color-gray);
    position: absolute;
    background-color: #ffffff;
    width: 77%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    transition: 1s all;
    transform: translateX(100%);
}
.navbar .nav-menu label {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 10px;
}
.navbar .nav-menu label i {
    position: absolute;
    font-size: 20px;
    font-weight: 800;
}
.navbar .nav-menu label .close {
    position: absolute;
    display: none;
}
.navbar .nav-menu ul{
    margin-top: 50px;
}
.navbar .nav-menu ul li{
    padding: 15px 5px;
}
.navbar .nav-menu ul li a {
    position: relative;
}

.navbar .nav-menu ul li a::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-main);
    position: absolute;
    bottom: 0;
    transition: .5s;
}

/* ----------------Nav-Icons---------------- */

.nav-icons {
    display: flex;
}

.nav-icons .mode-group {
    margin-right: 20px;
    display: flex;
}

.nav-icons .mode-group input {
    position: absolute;
    opacity: 0;
}

.nav-icons .mode-group .dark {
    position: absolute;
    transform: scale(1);
    font-size: 1.5em;
}

.nav-icons .mode-group:has(.mode:checked) .dark {
    transform: scale(0);
}

.nav-icons .mode-group .light {
    font-size: 1.5em;
    transform: scale(0);
    color: #ffffff;
}

.nav-icons .mode-group:has(.mode:checked) .light {
    transform: scale(1);
}
.nav-icons .menu-icon {
    position: relative;
}
.nav-icons .menu-icon i {
    font-size: 30px;
    color: var(--color-secondary);
    /* position: absolute; */
    left: 0;
}
.nav-icons .menu-icon input{
    position: absolute;
    left: 0;
    display: none;
}

/* End Nav */

/* Start Main */
.header {
    display: flex;
    align-items: center;
    padding: 100px 0 60px 0;
    background-color: var(--color-light-grey);
}

.header .container {
    padding: var(--padding);
    display: flex;
    flex-direction: column-reverse;
}

.header .container .main-content h2 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: var(--color-secondary);
}

.header .container .main-content p {
    text-align: center;
    margin: 20px 0;
    line-height: 1.6;
    font-size: 16px;
    color: var(--p-color);
    font-weight: 400;
}

.header .container .main-pic img {
    width: 100%;
}

.header .container .main-pic:hover {
    animation: vibrate .09s linear infinite alternate;
    transition: .1s all;
}

@keyframes vibrate {
    to {
        transform: rotate(2deg) translate(5px);
    }
}

.btn-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}

.btn-group .btn {
    flex-basis: 40%;
    background-color: var(--color-main);
    color: var(--color-light-grey);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: var(--animation-duration);
}

.btn-group .btn:hover {
    color: var(--color-light-grey);
    background-color: var(--hover-bg-color);
}

.btn-group a .icon {
    background-image: linear-gradient(to right, var(--color-main) 0 50%, transparent 50% 100%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group a .icon i {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.btn-group a .icon i::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--color-light-grey);
    border-radius: 50%;
    z-index: -1;
}

.vedio-btn {

    display: flex;
    align-items: center;
    flex-basis: 40%;
    border-radius: 30px;
    position: relative;
    font-weight: 600;
    transition: var(--animation-duration) color;
    color: var(--color-secondary);
}

.vedio-btn:hover {
    color: var(--color-main);
}

/* End Main */

/* Start Our professional section*/
.Our-Professional {
    padding: var(--section-padding-t) 0;
    background-color: var(--section-bg-color);
}

.item {
    position: relative;
}

.our-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    justify-content: space-between;
}

.our-boxes .item img {
    width: 100%;
    display: block;
}

.our-boxes .item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition: var(--animation-duration);
}

.our-boxes .item:hover {
    transform: scale(1.051);
}

.our-boxes .item .item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px 25px;
    position: relative;
    background-color: var(--color-bg-dark);
}

.our-boxes .item .item-text::before {
    content: "";
    position: absolute;
    background-image: url(../image/team-shape.svg);
    width: 100%;
    height: 20%;
    top: -25px;
}

.our-boxes .item .item-text h3 {
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 18;
    font-family: var(--font-default);
}

.our-boxes .item .item-text span {
    color: var(--p-color);
    margin: 5px 0;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--font-default);
}

.our-boxes .item .item-text p {
    color: var(--p-color);
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--font-default);
}

.our-boxes .item .social {
    position: absolute;
    right: 10px;
    top: 25px;
    background-color: #d7cfc660;
    border-radius: 5px;
    transition: var(--animation-duration) .4s;
    transform: translateX(80px);
}

.our-boxes .item:hover .social {
    transform: translateX(0px);
}

.our-boxes .item .social i {
    padding: 10px;
    font-size: 20px;
    color: #37373f66;
}

.our-boxes .item .social li:hover i {
    color: #37373fe6;
}

/* End Our professional section*/

/* Start Check Our Gallery section*/
.Our-Gallery {
    padding: var(--section-padding-t) 0;
    background-color: var(--color-light-grey);
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery .garllery-img {
    border: 4px solid #fff;
    position: relative;
    overflow: hidden;
}

.gallery .garllery-img .img-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    transition: .5s all;
    transform: translateY(100%);
    padding: 5px;
    text-align: center;
}

.gallery .garllery-img:hover .img-text {
    transform: translateY(0);
}

.gallery .garllery-img img {
    width: 100%;
    display: block;
}

.gallery .garllery-img .img-text h3 {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 24px;
    color: var(--h3-color);
}

.gallery .garllery-img .img-text p {
    font-family: var(--font-default);
    font-weight: 400;
    font-size: 16px;
    color: var(--img-p-color);
}

/* End Check Our Gallery section*/

/* Start CONTACT section  */
.contact {
    padding: var(--section-padding-t) 0;
}

/* ----------------------contact-map-------------------------- */
.contact-map-box {
    height: 300px;
}

.contact-map-box iframe {
    display: block;
    width: 100%;
    height: 100%;
}

/* ----------------------contact-info------------------------- */
.contact-info {
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.contact-info .info {
    padding: 15px;
    background-color: var(--info-s-bg-color);
    flex: 1 1 100%;
    display: flex;
    column-gap: 10px;
}

.contact-info .info .info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--info-s-bg-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-main);
}

.contact-info .info .info-detail h3 {
    font-family: var(--font-default);
    font-weight: 700;
    font-size: 20px;
    color: var(--color-gray);
    margin-bottom: 5px;
}

.contact-info .info .info-detail p,
.contact-info .info .info-detail a {
    color: var(--color-secondary);
}

/* ----------------------contact-Form-------------------------- */
.contact .contact-box form {
    background-color: var(--form-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
    box-shadow: 0 0 1.875rem #00000014;
}

.contact .contact-box form input {
    padding: 20px;
    outline: none;
}

.contact .contact-box form textarea {
    outline: none;
    padding: 20px;
    resize: both; 
    overflow: auto;
}

.contact .contact-box form input:focus,
.contact .contact-box form textarea:focus {
    border: 2px solid var(--color-main);
}

.contact .contact-box form {
    flex-direction: row;
    justify-content: center;
    row-gap: 20px;
    background-color: var(--color-bg-dark);
}

.contact .contact-box form input.name {
    flex-basis: 100%;
}

.contact .contact-box form input.email {
    flex-basis: 100%;
}

.contact .contact-box form input.subject {
    flex-basis: 100%;
}

.contact .contact-box form textarea {
    flex-basis: 100%;
    flex-grow: 1;
}

.contact .contact-box form button {
    padding: 15px 35px;
    border: none;
    background-color: var(--color-main);
    border-radius: 30px;
    color: var(--color-light-grey);
}

/* End CONTACT section  */

/* Start Footer */
.footer {
    background-image: url("../image/textured-metal-background.jpg");
    background-repeat: repeat;
    background-size: contain;
}

.overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer .container {
    padding: 40px 5px;
}

.footer .about .mealify-icon {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.footer .about .mealify-icon img {
    width: 40px;
}

.footer .about .mealify-icon h2 {
    color: #ffffff;
    font-family: var(--font-default);
    font-size: 30px;
    font-weight: 700;

}

.footer .about .mealify-icon h2::after {
    content: ".";
    color: var(--color-main);

}

.footer .about p {
    color: #ffffff;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.footer .about .social-media {
    text-align: center;
}

.footer .about .social-media h3 {
    color: #ffffff;
    font-family: var(--font-secondary);
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer .about .social-media .line {
    display: block;
    background-color: #5f5e5e;
    height: 1px;
}

.footer .about .social-media .links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 30px;
    color: #ffffff;
}

/* <----------------------------------> */
.footer .subscribe>h3 {
    color: #ffffff;
    font-family: var(--font-secondary);
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer .subscribe p {
    color: #ffffff;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer .subscribe form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}

.footer .subscribe form input {
    padding: 10px;
    outline: none;
}

.footer .subscribe form button {
    color: var(--color-light-grey);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-default);
    padding: 10px 0;
    background-color: var(--color-main);
    border: none;
}

.footer .subscribe form button i {
    margin-right: 5px;
}

/* <------------End Form-------------> */
.footer .subscribe .quick-links h3 {
    color: #ffffff;
    font-family: var(--font-secondary);
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer .subscribe .quick-links .links-list {
    display: flex;
    justify-content: space-between;
}

.footer .subscribe .quick-links .links-list .left,
.footer .subscribe .quick-links .links-list .right {
    flex-grow: 1;
    padding: 10px;
}

.links-list ul li a i {
    margin-right: 5px;
}

.links-list ul li a {
    color: #ffffff;
    font-family: var(--font-default);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 10px 0;
}

.links-list ul li {
    padding: 5px 0;
    transition: var(--animation-duration);
}

.links-list ul li:hover {
    transform: translateX(10px);
    background-color: #222;
}

/* <------------------------Address---------------> */
.footer .address h3 {
    color: #ffffff;
    font-family: var(--font-secondary);
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer .address ul {
    margin-left: 10px;
}

.footer .address ul li,
.footer .address ul li a {
    margin: 10px 0;
    column-gap: 10px;
    display: flex;
}

.footer .address ul li {
    color: #ffffff;
    font-family: var(--font-default);
    font-size: 18px;
    font-weight: 400;
}

.footer .address ul li i {
    margin-right: 10px;
    font-size: 26px;
    color: var(--color-main);
}

/* End Footer */

/* Small devices  */
@media (max-width: 400px) {
    .btn-group {
        flex-direction: column;
    }
}

/*  Medium devices */
@media screen and (min-width:768px) {
    .container {
        max-width: 85%;
    }

   /* <---------Start Our Professiona-------> */
    .our-boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
    }
    .our-boxes .item{
        flex-basis: 48%;
    }

    /* <---------End Our Professiona-------> */
    /* <------------Start galary ----------> */
    .gallery {
        flex-wrap: wrap;
        height: 1600px;
    }

    .gallery .garllery-img {
        width: 48%;
    }

    /* <------------End galary ----------> */
    /* <------------Start Footer ----------> */
    .footer .container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer .container .about {
        flex-basis: 50%;
    }

    .footer .container .subscribe {
        order: 2;
    }

    .footer .container .address {
        order: 1;
        flex-basis: 50%;
    }

    .footer .container .subscribe form {
        flex-direction: row;
        column-gap: 10px;
    }

    .footer .container .subscribe input {
        flex-grow: 1;
    }

    .footer .container .subscribe button {
        padding: 10px;
    }

    /* <------------End Footer ----------> */
}

/* Large devices */
@media (min-width: 992px) {
    .container {
        max-width: 90%;
    }

    /* <------------Start header ----------> */
    .header {
        padding-top: 50px;
    }

    .header .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100vh;
    }


    .btn-group {

        flex-direction: row;
        justify-content: space-between;
        row-gap: 0;
    }

    .btn-group .btn {
        border-radius: 0 30px 30px 30px;
        flex-basis: 40%;
    }

    .header .container .main-content h2 {
        text-align: left;
    }

    .header .container .main-content p {
        text-align: left;
    }

    /* <------------End header ----------> */
    /* <---------Start Our Professiona-------> */
    .our-boxes {
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: 0px;
        column-gap: 20px;
        justify-content: space-between;
    }
    .our-boxes .item{
        flex-basis: 31%;
    }

    /* <---------End Our Professiona-------> */

    /* <---------Start Gallery-------> */
    .gallery {
        height: 1100px;
    }

    .gallery .garllery-img {
        width: 32%;
    }

    /* <---------End Gallery-------> */

    /* <---------Start contact-------> */
    .contact .contact-box form {
        column-gap: 20px;
    }

    .contact .contact-box form input.name {
        flex-basis: 48%;
        flex-grow: 1;
    }

    .contact .contact-box form input.email {
        flex-basis: 48%;
        flex-grow: 1;
    }

    .contact-info .info {
        flex-basis: 48%;
    }

    .main-pic {
        flex-basis: 40%;
    }

    .container .main-content {
        flex-basis: 40%;
    }

    /* <---------End contact-------> */

}

/* X-Large devices */
@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }

    /* ----------------Navbar-------------- */
    .navbar .nav-menu {
        display: inline-block;
        position: static;
        height: auto;
        background-color: transparent;
        transform:translateX(0);
        width: auto;
    }

    .navbar .nav-menu ul {
        display: flex;
        margin-top: 0px;
    }
    .navbar .nav-menu label  {
        display: none;
    }

    .navbar .nav-menu ul li {
        padding: 0 20px;
    }

    .navbar .nav-menu ul li:hover a:before {
        width: 100%;
    }

    .nav-icons .menu-icon {
        display: none;
    }
    body:not(body:has(:target)) li a[href="#home"],
    body:has(.home:target) li a[href="#home"], 
    body:has(.s-gallery:target) li a[href="#s-gallery"],
    body:has(.chefs:target) li a[href="#chefs"],
    body:has(.contact:target) li a[href="#contact"] {
    color:var(--color-secondary) !important;
}
a:hover{
    color: #ffffff !important;
 }

    /* ---------------- End-Navbar-------------- */

    /* ---------------- Start headr-------------- */
    .main-content {
        flex-basis: 35%;
    }

    /* ---------------- End headr-------------- */

    /* ----------------Start Gallery -------------- */

    .gallery {
        height: 1150px;
    }

    .gallery .garllery-img {
        width: 29%;
    }

    /* ----------------End Gallery -------------- */

    /* ----------------Start Footer -------------- */
    .footer .container {
        flex-wrap: nowrap;
        column-gap: 10px;
    }

    .footer .container .about {
        flex-basis: 33.33%;
    }

    .footer .container .subscribe {
        order: 1;
        flex-grow: 1;
    }

    .footer .container .address {
        order: 2;
        flex-basis: 33.33%;
    }

    /* ----------------End Footer -------------- */
}

@media screen and (min-width: 1536px) {
    .container {
        max-width: 90%;
    }

    .gallery {
        height: 1600px;
    }
    .gallery .garllery-img {
        width: 25%;
    }
}

/*================Start Dark Mode =========================*/
:root:has(.mode:checked) body {
    background-color: var(--body-color);
    --nav-bg-color: #171717;
    --color-secondary: #ffffff;
    --color-main: #c17e1f;
    --color-secondary: #ffffff;
    --color-tertiary: #ffffff;
    --p-color: #9f9f9f;
    --color-light-grey: #252525;
    --color-gray: #7d7d7d;
    /* <-----------------nav-section-color------------> */
    --color-bg-dark: #171717;
    /* <-----------------header-section-color------------> */
    --hover-bg-color: #c17e1f;
    /* <-----------------Contact-section-color------------> */
    --info-s-bg-color: #171717;
}


 /* <-----------------nav-section-------------> */
 .navbar .nav-menu a:hover{
    color: #171717;
 }
 :root:has(.menu-ch:checked) .nav-menu{
    --translate:0;
    --translate-close:100%;
    }
    
    :root:has(.menu-ch:checked) .nav-menu  {
        transform: translateX(var(  --translate));
    }
    :root:has(.close:checked) .nav-menu  {
        transform: translateX(var(  --translate-close));
    }
  
 body:not(body:has(:target)) li a[href="#home"],
body:has(.home:target) li a[href="#home"],
body:has(.s-gallery:target) li a[href="#s-gallery"],
body:has(.chefs:target) li a[href="#chefs"],
body:has(.contact:target) li a[href="#contact"] {
    color:#171717;
}

.navbar .nav-menu ul li:has(.active) a:before {
    width: 100%;
}
:root:has(.mode:checked) .our-boxes .item .item-text::before {
    background-image: url("../image/team-shape-dark.svg");
}
body:not(body:has(:target)) li a[href="#home"]::before,
body:has(.home:target) li a[href="#home"]::before,
body:has(.contact:target) li a[href="#contact"]::before,
body:has(.s-gallery:target) li a[href="#s-gallery"]::before,
body:has(.chefs:target) li a[href="#chefs"]::before {
    width: 100%;
}

/*================End Dark Mode =========================*/